<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
</head>
<body>
<div th:insert="~{parts/navBar::navBar}"></div>

<form method="post" action="/addBook" th:object="${newBook}">
    <input type="text" placeholder="Author" name="author" required>
    <input type="text" placeholder="ISBN" name="isbn" required>
    <input type="text" placeholder="Description" name="description" required>
    <input type="text" placeholder="Publisher" name="publisher" required>
    <input type="text" placeholder="Title" name="title" required>
    <input type="number" placeholder="Pages" name="numOfPages">

    <select name="location" required>
        <th:block th:each="location : ${locations}">
            <option th:value="${location.id}" th:text="${location.location}"></option>
        </th:block>
    </select>

    <input type="submit" value="Add book">
</form>

</body>
</html>