<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
</head>
<body>
<div th:insert="~{parts/navBar::navBar}"></div>

<form method="post" action="/addLoan" th:object="${newLoan}">
    <input type="number" placeholder="Book ID" name="book" required>
    <input type="hidden" th:name="user" th:value="${newLoan.user}">
    <input type="submit" value="Add loan">
</form>

<div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
    <p th:text="${errorMessage}"></p>
</div>

</body>
</html>