<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/head :: head}"></head>
<body>
<div th:insert="~{parts/navBar::nav}"></div>

<form method="post" action="/addBook" th:object="${newBook}">
    <input type="text" placeholder="Author" name="author" required>
    <input type="text" placeholder="ISBN" name="isbn" required>
    <input type="text" placeholder="Description" name="description" required>
    <input type="text" placeholder="Publisher" name="publisher" required>
    <input type="text" placeholder="Title" name="title" required>
    <input type="number" placeholder="Pages" name="numOfPages">

    <select name="location" required>
        <th:block th:each="location : ${locations}">
            <option th:value="${location.id}" th:text="${location.location}"></option>
        </th:block>
    </select>

    <input type="submit" value="Add book">
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>