<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/head :: head}"></head>
<body>
<div th:insert="~{parts/navBar::nav}"></div>
<div class="container">
<form method="post" action="/addBook" th:object="${newBook}">
    <p class="fw-bold">Add new book</p>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Author</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="author" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">ISBN</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="isbn" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="description" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Publisher</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="publisher" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="title" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Pages</label>
        <input type="number" class="form-control" id="exampleInputEmail1" name="numOfPages" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Location</label>
        <select class="form-select" name="location" id="exampleInputEmail1">
            <th:block th:each="location : ${locations}">
                <option th:value="${location.id}" th:text="${location.location}"></option>
            </th:block>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add book</button>
</form>

<div th:if="${errorDeleteBook}" style="color: red; font-weight: bold;">
    <p th:text="${errorDeleteBook}"></p>
</div>

<div th:if="${errorBook}" style="color: red; font-weight: bold;">
    <p th:text="${errorBook}"></p>
</div>

    <form method="get" action="/search/booksManagement">
        <div class="mb-3">
            <label for="searchbar" class="form-label">Search for books</label>
            <input type="text" class="form-control" id="searchbar" name="query">
            <div id="emailHelp" class="form-text">Search by author or title</div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

<!--<form method="get" action="/search/booksManagement">-->
<!--    <input type="text" name="query" placeholder="Search">-->
<!--    <input type="submit" value="Search">-->
<!--</form>-->
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Description</th>
                <th scope="col">ISBN</th>
                <th scope="col">Pages</th>
                <th scope="col">Publisher</th>
                <th scope="col">Location</th>
                <th scope="col">Available</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="book : ${foundBooks}">
                <tr>
                    <th scope="row" th:text="${book.id}"></th>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.description}"></td>
                    <td th:text="${book.isbn}"></td>
                    <td th:text="${book.numOfPages}"></td>
                    <td th:text="${book.publisher}"></td>
                    <td th:text="${book.location.location}"></td>

                    <td>
                        <span th:if="${book.available}">Yes</span>
                        <span th:unless="${book.available}">No</span>
                    </td>
                    <td><a class="navLink" th:href="@{/deleteBook/{bookId}(bookId=${book.id})}"><button class="btn btn-danger">Delete</button></a></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div>
</body>
</html>