<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/head :: head}"></head>
<body>
<div th:insert="~{parts/navBar::nav}"></div>
<div class="container m-3">

    <div class="container">
        <div class="row">
            <div class="col-4 col-md-2 fw-bold">User Id:</div>
            <div class="col-8 col-md-10">
                <span th:text="${reader.id}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-2 fw-bold">Email:</div>
            <div class="col-8 col-md-10">
                <span th:text="${reader.email}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-2 fw-bold">Name:</div>
            <div class="col-8 col-md-10">
                <span th:text="${reader.name}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-2 fw-bold">Last name:</div>
            <div class="col-8 col-md-10">
                <span th:text="${reader.lastName}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-2 fw-bold">Joined on:</div>
            <div class="col-8 col-md-10">
                <span th:text="${reader.joined}"></span>
            </div>
        </div>
    </div>


    <div class="conatiner">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book's title</th>
                <th scope="col">Rental date</th>
                <th scope="col">Return date</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="loan : ${userLoans}">
                <tr>
                    <th scope="row" th:text="${loan.book.id}"></th>
                    <td th:text="${loan.book.title}"></td>
                    <td th:text="${loan.timestamp}"></td>
                    <td th:text="${loan.returnDate}"></td>
                    <td th:text="${loan.status.status}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>







<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="~{parts/head :: head}"></head>-->
<!--<body>-->
<!--<div th:insert="~{parts/navBar::nav}"></div>-->
<!--<div>-->
<!--    <span th:text="${reader.id}"></span><br>-->
<!--    <span th:text="${reader.email}"></span><br>-->
<!--    <span th:text="${reader.name}"></span><br>-->
<!--    <span th:text="${reader.lastName}"></span><br>-->
<!--    <span th:text="${reader.joined}"></span><br>-->
<!--</div>-->

<!--<a class="navLink" th:href="@{/librarian/user/profile/{id}/add_loan_page(id=${reader.id})}">Add loan</a>-->

<!--<div>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <th>ID of book</th>-->
<!--            <th>Book's title</th>-->
<!--            <th>Rental date</th>-->
<!--            <th>Return date</th>-->
<!--            <th>Status</th>-->
<!--        </tr>-->
<!--        <th:block th:each="loan : ${userLoans}">-->
<!--            <tr>-->
<!--                <td th:text="${loan.book.id}"></td>-->
<!--                <td th:text="${loan.book.title}"></td>-->
<!--                <td th:text="${loan.timestamp}"></td>-->
<!--                <td th:text="${loan.returnDate}"></td>-->
<!--                <td th:text="${loan.status.status}"></td>-->
<!--            </tr>-->
<!--        </th:block>-->
<!--    </table>-->
<!--</div>-->

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>-->

<!--</body>-->
<!--</html>-->